body {
  background-color: rgb(34, 4, 70);
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

.homeIndeling{
  display: flex;
  flex-wrap: wrap;
}

.mainIndeling{
  margin-top: 5em; 
  padding: 1.25em;
}

.titles {
  font-size: 2.375em; 
  color: #9dd1fe; 
  text-align: center;
}

/* navigatiebalk */
nav {
  background-color: #130331;
  color: #9dd1fe;
  position: fixed;
  top: 0;
  height: 5em;
  width: 100%;
  z-index: 100;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 1em;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding: 0;
}


nav li a {
  color: #9dd1fe;
  text-align: center;
  font-size: 1.75em;
  padding: 1em 1.875em;
  height: 5em;
  text-decoration: none;
  transition: background-color 1s ease;
}

nav li a:hover {
  background-color: #9dd1fe;
  color: #130331;
}

.logo {
  width: 5em;
  height: auto;
  
}

/* home pagina inhoud */
.mainimg {
  max-width: 100%;
  height: auto;
  margin-top: 5em; 
}

.introContainer{
  padding: 1.25em;
  background-color: #25085b;
  width: 28.125em;
  margin: 1.25em;
  display: block;
}
.introTitel {
  color: #9dd1fe;
  font-size: 2.188em;
}
.introText{
  color: #9dd1fe;

}

/*slideshow*/
.slides {
  position: relative;
  width: 100%;
  max-width: 40.625em;
  overflow: hidden;
  padding: 0.625;
}

.slide {
  opacity: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  animation: slide 12s infinite linear;
}

@keyframes slide {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}

/*slideshow*/
.slides {
  position: relative;
  width: 100%;
  max-width: 40.625em;
  overflow: hidden;
  
}

.slide {
  opacity: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  animation: slide 12s infinite;
}

@keyframes slide {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 3s;
}

.slide:nth-child(3) {
  animation-delay: 6s;
}

.slide:nth-child(4) {
  animation-delay: 9s;
}


/* manga page */
.volumes{
width: 12.5em;
margin: 1.25em;

}
.volumes:hover{
  transform: scale(1.5);
  transition: all 2.5s;
}


/*characters page*/
.character {
  position: relative;
  display: inline-block;
}

.character:hover figcaption {
  display: block;
}

.character figcaption {
  display: none;
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  background-color:#090118;
  color: #9dd1fe;
  text-align: center;
  font-size: 2em;
  transition: 2s ease;
}

.character img {
  display: block;
}

.character figure{
  padding: 1em;
  margin: 1em;
}

/*episodes page*/

.episodes {
  display: flex;
  flex-wrap: wrap;
   
}
figure{
  border: 1px solid #9dd1fe;
  padding: 0.625em;
  margin: 2em;
  border-radius: 1em;
  transition: background-color 0.3s ease;
  display: flex;
  font-size: 1em;
  max-width: 300px; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #9dd1fe;
}


.episodesimg {
  width: 300px;
  height: 200px;
}


figure:hover {
  background-color: #9dd1fe;
  color: #130331;
}



footer {
  bottom: 0;
  width: 100%;
  background-color: #130331;
  color: #52aeff;
  font-size: 1em;
  padding: 0.625em;
  
  
}
footer p {
  display: block;
  margin: 0;
  padding: 0;
  
}
